<div class="bgded">
  <div class="wrapper row1">
    <header id="header" class="">
      <nav id="navbar" role="navigation" [ngClass]="scroll ? 'transparent-navbar' : 'transparent-navbar2'" class="navbar navbar-expand-md navbar-light main-menu">
        <a aria-controls="mainNav" class="m-auto navbar-brand brand-collose">
          <img class="img-responsive" style="width: 150px;" src="assets/LOGO.png" alt="לוגו מיריתוש" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
          aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse float-right" style="direction: rtl;" id="mainNav">
          <ul class="nav navbar-nav navbar-left" style="padding-right: 100px;">
            <li class="nav-item homeLink">
              <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">
                {{localRes?.homepage}}
              </a>
            </li>
            <li class="nav-item">
              <!-- Button trigger modal -->
              <a (click)="showPanelChange()" class="nav-link" data-toggle="modal" id="edit" data-target="#SerachModal"
                href="">{{localRes?.EditAndView}}</a>
            </li>
          </ul>
          <a class="m-auto navbar-brand brand-centered">
            <img class="img-responsive" style="width: 140px;" src="assets/LOGO.png" alt="לוגו מיריתוש" />
          </a>
          <ul class="nav navbar-nav navbar-left" style="padding-left: 100px;">
            <li class="nav-item ">
              <a class="nav-link" href="/">{{localRes?.fanClub}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/gallery']" routerLinkActive="active">{{localRes?.gallery}}</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>