<div class="bgded overlay" style="background-image:url('assets/443.jpg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <a class="navbar-header" href="#">
          <img class="img-responsive pull-right" style="width: 180px;" src="assets/LOGO.png" alt="Image" width="230" />
        </a>
        <nav id="mainav" class="fl_left">
          <ul class="clear">
            <li class="active">
              <a href="index.html">{{localRes?.homepage}}</a>
            </li>
            <li>
              <a class="drop" href="#">{{localRes?.services}}</a>
          </ul>
        </nav>
        <!-- ################################################################################################ -->
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear">
      <div class="">
        <!-- ################################################################################################ -->
        <article>
          <h1>{{localRes?.BookNow}}</h1>
          <footer>
            <!-- Button trigger modal -->
            <a class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" href="">{{localRes?.clickBook}}</a>
          </footer>
        </article>
  
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="introblocks" class="hoc clear">
      <ul class="nospace">
        <!-- ################################################################################################ -->
        <li>
          <div>
            <i class="fa fa-3x fa-clock-o"></i>
            <h4 class="heading">{{localRes?.WorkingHours}}</h4>
            <p>08.00 - 18.30 / ראשון - שישי</p>
          </div>
        </li>
        <li>
          <div>
            <i class="fa fa-3x fa-phone"></i>
            <h4 class="heading">{{localRes?.CallNow}}</h4>
            <p>050-0000000</p>
          </div>
        </li>
        <li>
          <div>
            <i class="fa fa-3x fa-envelope-o"></i>
            <h4 class="heading">{{localRes?.SendMail}}</h4>
            <p>mirit@Miritush.com</p>
          </div>
        </li>
        <!-- ################################################################################################ -->
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>