<mat-spinner style="margin: auto;" *ngIf="loader"></mat-spinner>
<ng-container *ngIf="customer">
    <div class="form-row">
        <div class="col-md-6" tabindex="0">
            <h5>{{localRes?.FirstName}}</h5>
            <p>{{customer.FirstName}}</p>
        </div>
        <div class="col-md-6" tabindex="0">
            <h5>{{localRes?.LastName}}</h5>
            <p>{{customer.LastName}}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6" tabindex="0">
            <h5>{{localRes?.PhoneNumber}}</h5>
            <p>{{customer.PhoneNumber}}</p>
        </div>
        <div class="col-md-6" tabindex="0">
            <h5>{{localRes?.TimeBook}}</h5>
            <p>{{newStart}}</p>
        </div>
        <div class="col-md-6" tabindex="0">
            <h5>{{localRes?.Date}}</h5>
            <p>{{book.StartDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="finishStartDate">
            <app-calendar-picker [lang]="localRes" [filterWeeks]="true" (dateChange)="dateChange($event)"
                [maxDate]="maxDate" [minDate]="calendarPickerMinDate" [dateSelected]="finishStartDate"
                [listLockDays]="unFreeDays">
            </app-calendar-picker>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-chip-list *ngIf="Time.length >= 0" class="mat-chip-list-stacked" aria-label="Time slot selection">
                <mat-spinner style="margin: auto;" *ngIf="Time.length <= 0"></mat-spinner>
                <mat-chip style="width: 30%;" [selected]="time.id === book.StartAt" (mwlClick)="onTimeChange(time)"
                    (mwlKeydownEnter)="onTimeChange(time)" [ngClass]="{'btn pink':time.id === book.StartAt}"
                    [selectable]="true" *ngFor="let time of Time">
                    {{time.timeSlot}}
                </mat-chip>
            </mat-chip-list>
        </div>

    </div>

    <div>
        <button type="submit" (click)="UpdateBook(book)" [disabled]="!editMode"
            class="btn pink">{{localRes?.BookSet}}</button>
    </div>
</ng-container>