<app-navbar [localRes]="localRes"></app-navbar>

<div class="bgded overlay" style="background-image:url('assets/background.jpg');">
<div id="pageintro" class="hoc clear">
    <div class="">
      <!-- ################################################################################################ -->
      <article>
        <h1>{{localRes?.BookNow}}</h1>
        <footer>
          <!-- Button trigger modal -->
          <a class="btn pink" data-toggle="modal" style="padding: 15px;" data-target=".bd-example-modal-lg"
            href="">{{localRes?.clickBook}}</a>
        </footer>

      </article>

      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="introblocks" class="hoc clear">
    <ul class="nospace">
      <!-- ################################################################################################ -->
      <li>
        <div>
          <i class="far fa-3x fa-clock"></i>
          <h4 class="heading">{{localRes?.WorkingHours}}</h4>
          <p>{{settings?.WorkingHours}}</p>
        </div>
      </li>
      <li>
        <a class="nav-link text-white" href="https://wa.me/972{{settings?.PhoneNumber}}">
        <div>
          <i class="fab fa-whatsapp"></i>
          <h4 class="heading">{{localRes?.SendMessage}}</h4>
          <p>{{settings?.PhoneNumber}}</p>
        </div>
      </a>
      </li>
      <li>
        <a class="nav-link text-white" [href]="settings?.WazeLink">
        <div>
          <i class="fab fa-3x fa-waze"></i>
          <h4 class="heading">{{localRes?.Address}}</h4>
          <p>{{settings?.Address}}</p>
        </div>
      </a>
      </li>
      <!-- ################################################################################################ -->
    </ul>
  </div>
</div>
<!-- 
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="btmspace-80 center">
      <h6 class="heading nospace">{{localRes?.TitleBody}}</h6>
      <p class="nospace">{{localRes?.desc}}</p>
    </div>
    <div class="clear">
      <div class="one_half first">
        <p>Sodales dui risus a bibendum augue fermentum hendrerit quisque purus felis consequat vel orci eget ultrices.</p>
        <p class="btmspace-50">Vestibulum velit integer magna justo facilisis ut imperdiet sit amet volutpat sed tortor maecenas enim turpis porttitor
          ut ornare sit amet bibendum at eros sed varius.</p>
        <ul class="nospace group">
          <li class="one_half first">
            <article>
              <a href="#">
                <i class="icon btmspace-30 fa fa-hourglass-start"></i>
              </a>
              <h6 class="heading font-x1">Tortor orci et diam</h6>
              <p>Pretium purus vel dignissim dui dapibus et mauris lacinia sapien ac augue tempor&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <a href="#">
                <i class="icon btmspace-30 fa fa-image"></i>
              </a>
              <h6 class="heading font-x1">Sed iaculis nullam</h6>
              <p>Molestie praesent urna lacus venenatis nec convallis nisl venenatis molestie&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_half">
        <img class="inspace-10 borderedbox" src="/assets/Pedicure.jpg" alt="">
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div> -->
<!-- <div class="wrapper bgded" style="background-image:url('/assets/212.jpg')">
  <article class="hoc container clear center">
    <p class="nospace font-x1">Non rhoncus sapien tellus</p>
    <h2 class="heading font-x3">Eget neque vestibulum efficitur</h2>
    <p class="btmspace-50">Tincidunt erat ut euismod vestibulum suscipit sit amet nulla donec</p>
    <footer>
      <ul class="nospace inline pushright">
        <li>
          <a class="btn" href="#">Interdum</a>
        </li>
        <li>
          <a class="btn inverse" href="#">Eleifend</a>
        </li>
      </ul>
    </footer>
    <div class="clear"></div>
  </article>
</div> -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
      <div class="one_third float-left">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1676.6424620671141!2d35.48589961714824!3d32.81121479656767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c3ece8a87ec4b%3A0x1aa67c5155f3911f!2z15TXktek158sINeQ16jXkdec!5e0!3m2!1siw!2sil!4v1571944050463!5m2!1siw!2sil" width="100%" height="100%" frameborder="0" style="border:0; width:46vw; height: 30vh;" allowfullscreen=""></iframe>
      </div>
    <!-- ################################################################################################ -->
    <div class="one_third float-right">
      <h6 class="heading">{{localRes?.Contact}}</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li>
          <i class="fa fa-map-marker"></i>
          <address>
           {{settings?.Address}}
          </address>
        </li>
        <li>
          <i class="fa fa-phone"></i>{{settings?.PhoneNumber}}</li>
        <li>
          <i class="fas fa-envelope-o"></i>{{settings?.Email}}</li>
      </ul>
      <ul class="faico clear">
        <li>
          <a class="faicon-facebook" [href]="settings?.FacebookLink">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
            <a class="faicon-facebook" [href]="settings?.InstegramLink">
                <i class="fab fa-instagram"></i>
              </a>
          </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->

  </footer>
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved -
      <a href="#">Mirit Eliyhu & Guy Goldboim</a>
    </p>
    <p class="fl_right">Template by
      <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>
      <a href='https://www.freepik.com/free-vector/pedicure-illustration_753439.htm'>&nbsp; Photos by Freepik</a>
    </p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Return to Top -->
<a href="javascript:" id="return-to-top" style="z-index: 1">
  <i class="fa fa-angle-up"></i>
</a>
<!-- Modal SetBook -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="float-left close" style="margin: -1rem !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="float-right inline" style="color: rgba(201,109,159,1);">קביעת תור {{settings?.StoreName}}</h4>
      </div>
      <div class="line"></div>
      <div class="modal-body">
        <app-set-book [localRes]="localRes"></app-set-book>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="SerachModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="clear(true);" class="float-left close" style="margin: -1rem !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="float-right inline" style="color: rgba(201,109,159,1);">התור שלך</h4>
      </div>
      <div class="line"></div>
      <div class="modal-body">
        <app-search-book [localRes]="localRes" *ngIf="!hidetheSer" (BookFounded)="whenCustomerFound($event)"></app-search-book>
        <app-change-book [localRes]="localRes" [book]="bookFound" (Clear)=clear($event) *ngIf="hidetheSer" ></app-change-book>
      </div>
    </div>
  </div>
</div>