<app-navbar [localRes]="localRes" (showChange)="showPanel($event)"></app-navbar>

<div class="bgded overlay" style="background-image:url('assets/background.jpg');">
<div id="pageintro" class="hoc clear">
    <div class="fadeIn">
      <!-- ################################################################################################ -->
      <article>
        <h1>{{localRes?.BookNow}}</h1>
        <main role="contentinfo">
          <!-- Button trigger modal -->
          <a class="btn pink " data-toggle="modal" style="padding: 15px;" data-target=".bd-example-modal-lg"
            href="">{{localRes?.clickBook}}</a>
        </main>

      </article>

      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="introblocks" class="hoc clear fadeIn">
    <ul class="nospace">
      <!-- ################################################################################################ -->
      <li>
        <div>
          <i class="far fa-3x fa-clock"></i>
          <h4 class="heading">{{localRes?.WorkingHours}}</h4>
          <p>{{settings?.WorkingHours}}</p>
        </div>
      </li>
      <li>
        <a class="nav-link text-white" href="https://wa.me/972{{settings?.PhoneNumber}}">
        <div>
          <i class="fab fa-whatsapp"></i>
          <h4 class="heading">{{localRes?.SendMessage}}</h4>
          <p>{{settings?.PhoneNumber}}</p>
        </div>
      </a>
      </li>
      <li>
        <a class="nav-link text-white" [href]="settings?.WazeLink">
        <div>
          <i class="fab fa-3x fa-waze"></i>
          <h4 class="heading">{{localRes?.Address}}</h4>
          <p>{{settings?.Address}}</p>
        </div>
      </a>
      </li>
      <!-- ################################################################################################ -->
    </ul>
  </div>
</div>
<div class="wrapper row4">
  <footer role="doc-credits" id="footer" class="hoc clear">
      <div class="one_third float-left">
                  <!-- <iframe role="none" aria-labelledby="Google" title="Google Maps Frame" aria-label="Google Maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1676.6424620671141!2d35.48589961714824!3d32.81121479656767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c3ece8a87ec4b%3A0x1aa67c5155f3911f!2z15TXktek158sINeQ16jXkdec!5e0!3m2!1siw!2sil!4v1571944050463!5m2!1siw!2sil" width="100%" height="100%" frameborder="0" style="border:0; width:46vw; height: 30vh;" allowfullscreen=""></iframe> -->

        <!-- <div style="width: 100%"><iframe width="100%" height="100" src="https://maps.google.com/maps?width=100%&amp;height=100&amp;hl=en&amp;q=%D7%94%D7%92%D7%A4%D7%9F%20%D7%90%D7%A8%D7%91%D7%9C+(%D7%9E%D7%99%D7%A8%D7%99%D7%AA%D7%95%D7%A9)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.gps.ie/">Google Maps GPS</a></iframe></div><br /> -->
      </div>
    <!-- ################################################################################################ -->
    <div class="one_third float-right">
      <h6 class="heading">{{localRes?.Contact}}</h6>
      <ul role="listitem" class="nospace btmspace-30 linklist contact">
        <li>
          <i class="fa fa-map-marker"></i>
          <address>
           {{settings?.Address}}
          </address>
        </li>
        <li>
          <i class="fa fa-phone"></i>{{settings?.PhoneNumber}}</li>
        <li>
          <i class="fas fa-envelope-o"></i>{{settings?.Email}}</li>
      </ul>
      <ul class="faico clear">
        <li>
          <a class="faicon-facebook" aria-label="Facebook Link" title="Facebook Link" [href]="settings?.FacebookLink">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
            <a class="faicon-facebook" aria-label="Instgram Link" title="Instegram Link" [href]="settings?.InstegramLink">
                <i class="fab fa-instagram"></i>
              </a>
          </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->

  </footer>
  
</div>
<!-- ################################################################################################ -->
<!-- ########################footer######################################### -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved -
      <a href="#">Mirit Eliyhu & Guy Goldboim</a>
    </p>
    <p class="fl_right">Template by
      <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>
      <a href='https://www.freepik.com/free-vector/pedicure-illustration_753439.htm'>&nbsp; Photos by Freepik</a>
    </p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- Modal and return button -->
<!-- ################################################################################################ -->
<!-- Return to Top -->
<a href="javascript:" id="return-to-top" style="z-index: 1">
  <i class="fa fa-angle-up"></i>
</a>
<!-- Modal SetBook -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="float-left close" style="margin: -1rem !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="float-right inline" style="color: rgba(201,109,159,1);">קביעת תור {{settings?.StoreName}}</h4>
      </div>
      <div class="line"></div>
      <div class="modal-body">
        <app-set-book [localRes]="localRes"></app-set-book>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="SerachModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="clear(true);" class="float-left close" style="margin: -1rem !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="float-right inline" style="color: rgba(201,109,159,1);">התור שלך</h4>
      </div>
      <div class="line"></div>
      <div class="modal-body">
        <app-search-book [localRes]="localRes" *ngIf="showSer" (Clear)=clear($event) (BookFounded)="whenCustomerFound($event)"></app-search-book>
        <app-books-view [localRes]="localRes" [booksDetails]="bookFound" (Clear)=clear($event) *ngIf="hidetheSer" ></app-books-view>
      </div>
    </div>
  </div>
</div>