.table{
    direction: rtl;
    text-align: right !important;
}
th.mat-header-cell{
    text-align: right !important;
}
.mat-header-cell{
    color:white !important;
    background-color: #C96D9F;
}

.mat-table{
    font-family: 'Varela Round', sans-serif;
}

table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 1em;
    background: rgba(201, 109, 160, 0.555);
    border-bottom: 2px solid white; 
    vertical-align: middle !important;
  }

  .mat-paginator{
      background: transparent;
      direction: ltr;
      float: left;
  }