.bg {
  direction: rtl;
      /* background-repeat: no-repeat;
      background-image: url('/assets/212.jpg');
      background-size: cover;
      */
    width: calc(100% - 22px); 
    height: auto;
      
    /* Set up positioning */
    overflow: hidden !important;
    top: 0;
    left: 0;
    font-family: 'Varela Round', sans-serif;

  }
  
  /* @media screen and (max-width: 1024px) {  Specific to this particular image 
    .bg {
      left: 50%;
      margin-left: -512px;   /* 50% 
    }
  } */
  .center {
    padding: 10px;
  }
  .spinners{
    display: inline-table;    
    margin-top: 27%;
    
    overflow: hidden;
  }

  .card{
      background-color: rgba(225,255,255, 0.2)
  }

  .box{
    background-color:#c96d9f;
    width: 20vw;
    height: 20vh;
    margin-left: 4%;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.67);
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.67);
    /* margin-left: 2%; */
    border-radius: 3px;
    font-size: 2.3vh;
}
  .line{
    width: 100%; 
    height: 1px;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 4%, rgba(201,109,159,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 4%,rgba(201,109,159,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 4%,rgba(201,109,159,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }


  a:hover{
    cursor: pointer;
  }
  .menuItem{
    color:white !important;
    padding: 5px;
  }
  .menuItem:hover{
    color:black !important;
  }