<div class="center">
  <div style="overflow: auto;">
    <div style="width: 100%; overflow: auto;" [ngSwitch]="view" *ngIf="loading2 == false; else loading">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'" 
        [viewDate]="viewDate" 
        [events]="events2" 
        [refresh]="refresh" 
        [locale]="locale">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events2" 
        [refresh]="refresh" 
        [locale]="locale"
        [hourSegments]="6"
        (eventClicked)="clickEvent($event)">
    </mwl-calendar-week-view>
    </div>
    <ng-template #loading>
      <div class="text-center">
        <!-- <fa-icon></fa-icon>
        <i class="fa fa-sync fa-spin fa-5x"></i>
        <br> Loading events... -->
        <div class="spinners">
        <fa-icon [icon]="['fa', 'circle-notch']" size="5x" [spin]="true"></fa-icon>
      </div>
      </div>
    </ng-template>
    <!-- <div *ngIf="events$ | async; else loading; let events">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="true">
    </mwl-calendar-month-view>
</div> -->
    <!-- <div id='calendar'></div> -->

  </div>
</div>
