<div mat-dialog-title>
    <h4 class="float-right inline" style="color: rgba(201,109,159,1);">פרטי התור</h4>
    <div class="line" style="display: flex;"></div>

</div>

<mat-dialog-content class="mat-typography">
    <div style="display: inline-block; padding: 22px;">
        <div class="form-row">
            <mat-form-field class="col-md-12">
                <input matInput placeholder="{{data.localRes?.CustomerAndService}}" [(ngModel)]="data.event.title" disabled>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="{{data.localRes?.endTime}}" [(ngModel)]="newEnd" disabled>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="{{data.localRes?.startTime}}" [(ngModel)]="newStart" disabled>
            </mat-form-field>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="deleteEvent($event)"  cdkFocusInitial class="btn pink" > מחק </button>
</mat-dialog-actions>