<div mat-dialog-title>
    <h4 class="float-right inline" style="color: rgba(201,109,159,1);">פרטי התור</h4>
    <div class="line" style="display: flex;"></div>

</div>
<!-- lock Hours Content -->
<mat-dialog-content *ngIf="data.event.LockSlot" class="mat-typography">
    <div class="detailsEvent">
        <div class="form-row">
            <div class="col-auto">
                <i class="far fa-user"></i>
            </div>

            <div class="col-md-11">
                <strong><label>{{data.localRes?.CustomerAndService}}:</label></strong>
                <label>{{data.event.title}}</label>
            </div>
            <div class="col-auto">
                <i class="far fa-clock"></i>
            </div>
            <div class="col-md-11">
                <strong>
                    <label>{{data.localRes?.Time}}:</label></strong>
                <label>{{data.event.LockSlot.StartAt | minToTime}} - {{data.event.LockSlot.EndAt | minToTime}}</label>
            </div>
            <div class="col-auto">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="col-md-11">
                <strong>
                    <label>{{data.localRes?.Date}}:</label>
                </strong>
                <label>{{data.event.LockSlot.StartDate | date:"dd/MM/yyyy"}}</label>
            </div>
            <div class="col-auto">
                <i class="far fa-sticky-note"></i>
            </div>
            <div class="col-md-11" *ngIf="data.event.LockSlot.Notes">
                <strong> <label>{{data.localRes?.NotesLock}}:</label></strong>
                <label>{{data.event.LockSlot.Notes}}</label>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- Event Content -->
<mat-dialog-content *ngIf="data.event.meta" class="mat-typography">
    <div class="detailsEvent">
        <div class="form-row">
            <div class="col-auto">
                <i class="far fa-user"></i>
            </div>
            <div class="col-md-11">
                <strong><label>{{data.localRes?.CustomerAndService}}:</label></strong>
                <label>{{data.event.title}}</label>
            </div>
            <div class="col-auto">
                <i class="far fa-clock"></i>
            </div>
            <div class="col-md-11">
                <strong>
                    <label>{{data.localRes?.Time}}:</label>
                </strong>
                <label>{{data.event.meta.StartAt | minToTime}} - {{newEnd | minToTime}}</label>
            </div>
            <div class="col-auto">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="col-md-11">
                <strong>
                    <label>{{data.localRes?.Date}}:</label>
                </strong>
                <label>{{data.event.meta.StartDate | date:"dd/MM/yyyy"}}</label>
            </div>

            <!-- Event Notes -->
            <div class="col-auto" *ngIf="data.event.meta.Notes">
                <i class="far fa-sticky-note"></i>
            </div>
            <div class="col-md-11" *ngIf="data.event.meta.Notes">
                <strong> <label>{{data.localRes?.Notes}}:</label></strong> <label>{{data.event.meta?.Notes}}</label>
            </div>
            <!-- Customer Notes -->
            <div class="col-auto" *ngIf="data.event.customer.Notes">
                <i class="far fa-sticky-note"></i>
            </div>
            <div class="col-md-11" *ngIf="data.event.customer.Notes">
                <strong> <label>{{data.localRes?.NotesCustomer}}:</label></strong> <label>{{data.event.customer?.Notes}}</label>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-buttonn (click)="deleteEvent()" cdkFocusInitial class="btn pink">
        מחק
        <i class="far fa-calendar-alt"></i>

    </button>
    <button mat-stroked-button (click)="editEvent()" cdkFocusInitial color="accent">
        עדכן
        <i class="far fa-calendar-alt"></i>

    </button>
</mat-dialog-actions>