<!-- <header class="fadeIn">

<div class="header" class="bg">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link " style="color: black;" href="https://wa.me/972{{settings?.PhoneNumber}}">
        <strong>{{localRes?.SendMessage}}:</strong>{{settings?.PhoneNumber}}&nbsp;<i class="fab fa-whatsapp"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <strong>{{localRes?.WorkingHours}}:</strong> {{settings?.WorkingHours}}&nbsp;<i
          class="far fa-1x fa-clock"></i></a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" style="color: black;" [href]="settings?.WazeLink">
        <div>
          <strong class="">{{localRes?.Address}}</strong>
          {{settings?.Address}}
          <i class="fab fa-1x fa-waze"></i>
        </div>
      </a>
    </li>
  </ul>
</div>
</header> -->
<app-navbar [localRes]="localRes"></app-navbar>

<header>
  <owl-carousel [options]="SlideOptions" [items]="[]" [carouselClasses]="['owl-theme', 'sliding','header','fadeIn']">
    <ng-container *ngFor="let slide of slides">
      <div class="item" style="background-image: url({{slide.img}});">
        <div style="align-content:flex-start">
          <div class="v-middle caption mt-30">
            <div class="col-md-12">
              <div class="slider-text" style="display: block;">
                <h1 class="animate__animated animate__fadeInUp text-h1">{{slide.text}}
                  <hr class="hrLine slide-left">
                </h1>
                <h2 class="text-h1" *ngIf="slide.desc">
                  {{slide.desc}}
                </h2>
                <button type="button" class="btn pink setAppButton"
                  (click)="openSetBook()">{{localRes?.clickBook}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </owl-carousel>
</header>

<main>

  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-30 animate__animated animate__fadeInUp">
          <h2 class="section-title">חדש אצל מיריתוש</h2>
          <h3 class="section-subtitle">הסרת שיער בלייזר</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-60 animate__animated animate__fadeInUp">
          <h3>טיפולי הסרת שיער אולטרה מהירים
          </h3>
          <p style="font-size: large;">Qהמערכת החדשנית שהכירה לעולם האסתטיקה מציאות חדשה, בזכות טכנולוגיית ה־ ALT פורצת
            הדרך
            מכשיר להסרת שיער מושלם לטיפולי גוף ועור, המשלב טכנולוגיה, קדמה ויעילות ללא כאבים וללא תופעות לוואי.</p>
        </div>
        <div class="col-md-5 mb-60">
          <div class="laser-img">
            <div class="img"> <img src="assets/1.JPG" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="wrapper footer-style fadeIn">
    <section class="hoc clear">
      <!-- Wokring hours -->
      <div class="one_quarter float-right">
        <h6 class="footerHeading">{{localRes?.WorkingHours}}</h6>
        <hr>
        <ul role="listitem" class="nospace linklist contact">
          <li>
            {{settings?.WorkingHours}}
          </li>
        </ul>
      </div>
      <!-- contact us -->
      <div class="one_half float-right">
        <h6 class="footerHeading">{{localRes?.Contact}}</h6>
        <hr>
        <ul role="listitem" class="nospace btmspace-30 linklist contact">
          <li>
            <i class="fa fa-map-marker"></i>
            <address>
              {{settings?.Address}}
            </address>
          </li>
          <li>
            <i class="fa fa-phone"></i>{{settings?.PhoneNumber}}
          </li>
          <li>
            <i class="fas fa-envelope-o"></i>{{settings?.Email}}
          </li>
        </ul>
        <ul class="faico clear">
          <li>
            <a class="faicon-facebook" aria-label="Facebook Link" title="Facebook Link" [href]="settings?.FacebookLink">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a class="faicon-facebook" aria-label="Instgram Link" title="Instegram Link"
              [href]="settings?.InstegramLink">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>


<!-- ################################################################################################ -->
<!-- ########################footer######################################### -->
<!-- ################################################################################################ -->
<footer role="doc-credits" class="">
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved -
        <a href="#">Mirit Eliyhu & Guy Goldboim</a>
      </p>
      <p class="fl_right">Design by Guy Gold
        <a href='https://www.freepik.com/photos/hand'>&nbsp; Photos by Freepik</a>
      </p>
      <!-- ################################################################################################ -->
    </div>
  </div>
</footer>

<!-- ################################################################################################ -->
<!-- Modal and return button -->
<!-- ################################################################################################ -->
<!-- Return to Top -->
<a href="#" id="return-to-top" style="z-index: 1">
  <i class="fa fa-angle-up"></i>
</a>