<main>
  <app-navbar [localRes]="localRes"></app-navbar>

  <section id="aboutMe">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-30 animate__animated animate__fadeInUp">
          <h1 dir="rtl" class="section-title">נעים להכיר!</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-60 animate__animated animate__fadeInUp">
          <p dir="rtl" style="font-size: large;">
            אני מיריתוש בעלת מכון יופי בתחום הסרות שיער וטיפוח הציפורניים.
            מאז ומתמיד חלמתי לעסוק בשני הדברים האהובים עלי - אומנות ועולם היופי והטיפוח כשלנגד עיניי החזון:
            להצליח לגרום לכל לקוח/ה להרגיש טוב עם עצמו בדרך הכי נעימה ונינוחה
            שבסופה יכול/ה להביט במראה בסיפוק ענק ולהגיד "מושלם"!!
          </p>

          <p dir="rtl" style="font-size: large;">
            לאורך השנים התמקצעתי בתחום הציפורניים והסרות שיער,
            עברתי אין ספור הדרכות והשתלמויות בארץ ובחו“ל.
            צברתי שעות של ניסיון ועדיין לא מפסיקה ללמוד להתמקצע ולהביא את כל החידושים שקיימים בתחום.
          </p>
          <h3 dir="rtl">
            <b>קצת על טיפולים</b>
          </h3>
          <p dir="rtl" style="font-size: large;">

            בקליניקה ניתן לקבל מגוון טיפולים בתחום טיפוח הציפורניים - בניית ציפורניים בג'ל, לק ג'ל, פדיקור, טיפול בפטרת
            הציפורניים.
            הסרת שיער בטכנולוגיה מתקדמת בשיטת ALT - קרן אור המורכבת מאורכי גל שונים בעלי עצימות תרמית גבוהה.
            טכנולוגיה זו מתאימה לכל גווני העור ולכל סוגי השיער ( מלבד שיער שיבה,בלונדיני או ג'ינג'י) והיא בטוחה לשימוש
            לכולם כולל ילדים ובני נוער.
            קצב העבודה בטכנולוגיית ALT ביחד עם מערכת קירור עוצמתית באמצעות הקפאה ממוקדת ומאלחשת את איזור הטיפול ובכך
            <b>מאפשרת טיפול מהיר וללא כאבים</b>
            , בנוסף הפחתת השיער נשמרת לאורך זמן.
            חשוב לזכור שטכנולוגיית ALT גורמת להרס זקיק השערה ולא לעיכוב צמיחה.
            מחכה לכם מיריתוש!!
          </p>
        </div>
        <div class="col-md-5 mb-60">
          <div class="laser-img">
            <div class="img"> <img src="assets/6.JPG" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="wrapper" *ngIf="customOptions">
    <owl-carousel-o [classList]="['header','fadeIn']" [options]="customOptions">
      <ng-container *ngFor="let slide of slides">
        <ng-template [width]="1500" carouselSlide [id]="slide.id">
          <div class="item fadeIn" style="background-image: url('{{slide.img}}');">
            <div class="v-middle caption mt-30">
              <div class="col-md-12">
                <div class="slider-text" style="display: block;">
                  <h1 class="animate__animated animate__fadeInUp text-h1">{{slide.text}}
                    <hr class="hrLine slide-left">
                  </h1>
                  <h2 class="text-h1" *ngIf="slide.desc">
                    {{slide.desc}}
                  </h2>
                  <a href="https://ezbz.me/ZSeiDUNRfGb8" class="btn pink setAppButton">{{localRes?.clickBook}}</a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
  <!-- <section id="adsLaesr">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-30 animate__animated animate__fadeInUp">
          <h2 class="section-title">חדש אצל מיריתוש</h2>
          <h3 class="section-subtitle">הסרת שיער בלייזר</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-60 animate__animated animate__fadeInUp">
          <h3>טיפולי הסרת שיער אולטרה מהירים
          </h3>
          <p dir="rtl" style="font-size: large;">
            המערכת החדשנית שהכירה לעולם האסתטיקה מציאות חדשה, בזכות טכנולוגיית ה <cite dir="ltr"> Q-ALT</cite>
            פורצת
            הדרך מכשיר להסרת שיער מושלם לטיפולי גוף ועור, המשלב טכנולוגיה, קדמה ויעילות ללא כאבים וללא תופעות לוואי.</p>
        </div>
        <div class="col-md-5 mb-60">
          <div class="laser-img">
            <div class="img"> <img src="assets/1.JPG" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="wrapper footer-style fadeIn">
    <section class="hoc clear">
      <!-- Wokring hours -->
      <div class="one_quarter float-right">
        <h6 class="footerHeading">{{localRes?.WorkingHours}}</h6>
        <hr>
        <ul dir="rtl" role="listitem" class="nospace linklist contact">
          <li>
            {{settings?.WorkingHours}}
          </li>
        </ul>
      </div>
      <!-- contact us -->
      <div class="one_half float-right">
        <h6 class="footerHeading">{{localRes?.Contact}}</h6>
        <hr>
        <ul role="listitem" class="nospace btmspace-30 linklist contact">
          <li>
            <i class="fa fa-map-marker"></i>
            <address>
              {{settings?.Address}}
            </address>
          </li>
          <li>
            <i class="fa fa-phone"></i>{{settings?.PhoneNumber}}
          </li>
          <li>
            <i class="fas fa-envelope-o"></i><a href="mailto:{{settings?.Email}}">{{settings?.Email}}</a>
          </li>
        </ul>
        <ul class="faico clear">
          <li>
            <a class="faicon-facebook" aria-label="Facebook Link" title="Facebook Link" [href]="settings?.FacebookLink">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a class="faicon-facebook" aria-label="Instgram Link" title="Instegram Link"
              [href]="settings?.InstegramLink">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>


<!-- ################################################################################################ -->
<!-- ########################footer######################################### -->
<!-- ################################################################################################ -->
<footer role="doc-credits" class="">
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved -
        <a href="#">Mirit Eliyhu & Guy Goldboim</a>
      </p>
      <p class="fl_right">Design by Guy Goldboim
        <a href='https://www.freepik.com/photos/hand'>&nbsp; Photos by Freepik</a>
      </p>
      <!-- ################################################################################################ -->
    </div>
  </div>
</footer>

<!-- ################################################################################################ -->
<!-- Modal and return button -->
<!-- ################################################################################################ -->
<!-- Return to Top -->
<a href="#" id="return-to-top" style="z-index: 1">
  <i class="fa fa-angle-up"></i>
</a>

<a *ngIf="!isOpen" id="fabButton" class="btn pink setAppButton"
  href="https://ezbz.me/ZSeiDUNRfGb8">{{localRes?.clickBook}}</a>