<!-- <div class="sitebar ml-auto shadows" [ngClass]="{sidebarPushRight: isActive}">
  <div class="ml-auto navbar-dark side-collapse in" id="collapse-side">
    <ul class="navbar-nav ml-auto" dir="rtl">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['Calendar']" routerLinkActive="active" data-toggle="collapse-side">
          <mat-icon>home</mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['Customers']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-id-badge"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['ServiceTypes']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-folder-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Services']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-concierge-bell"></i>
        </a>
      </li>
    </ul>
  </div>
</div> -->
<header>
<div class="iconsMenu">
  <button mat-mini-fab color="accent" [matMenuTriggerFor]="afterMenu" aria-label="Example icon button with a plus one icon">
    <mat-icon>add</mat-icon>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </button>
  </div>
<div class="iconsMenu">
  <button [routerLink]="['/Login']" #Login="routerLinkActive" routerLinkActive="active" mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon [ngClass]="{'iconSize':!Login.isActive,'active':Login.isActive}" class="iconSize">home</mat-icon>
  </button>
</div>

<div class="iconsMenu">
  <button [routerLink]="['Calendar']" #Calendar="routerLinkActive" routerLinkActive="active" mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon [ngClass]="{'iconSize':!Calendar.isActive,'active':Calendar.isActive}" class="iconSize">calendar_today</mat-icon>
  </button>
</div>
<div class="iconsMenu">
  <button mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon  class="iconSize">create</mat-icon>
  </button>
</div>
<div class="iconsMenu">
  <button [routerLink]="['Customers']" #Customers="routerLinkActive" routerLinkActive="active" mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon [ngClass]="{'iconSize':!Customers.isActive,'active':Customers.isActive}" >people</mat-icon>
  </button>
</div>
<div class="iconsMenu">
  <button [routerLink]="['ServiceTypes']" #ServiceTypes="routerLinkActive" routerLinkActive="active" mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon [ngClass]="{'iconSize':!ServiceTypes.isActive,'active':ServiceTypes.isActive}" class="iconSize">show_chart</mat-icon>
  </button>
</div>
</header>
<footer>
  <div class="iconsMenuBottom fixed-bottom">
    <button mat-icon-button aria-label="Example icon button with a home icon">
      <i class="fab fa-google iconSize"></i>
    </button>
  </div>
</footer>