<div class="sitebar ml-auto shadows" [ngClass]="{sidebarPushRight: isActive}">
  <div class="ml-auto navbar-dark side-collapse in" id="collapse-side">
    <ul class="navbar-nav ml-auto" dir="rtl">
      <br>
      <div class="row">
        <p class="text-white">{{localRes?.AdminMenu}}</p>
      </div>
      <div class="lineWhite row"></div>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['Calendar']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-calendar-alt"></i>
          {{localRes?.Calendar}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['Customers']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-id-badge"></i>
          {{localRes?.Customers}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['ServiceTypes']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-folder-plus"></i>
          {{localRes?.ServiceTypes}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Services']" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fas fa-concierge-bell"></i>
          {{localRes?.Services}}
        </a>
      </li>
    </ul>
    <br>
    <ul class="navbar-nav ml-auto" dir="rtl">
      <div class="row">
        <p class="text-white"> {{localRes?.fanClub}}</p>
      </div>
      <div class="lineWhite row"></div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addrepair" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fa fa-list" style="width: 20px; height:20px;"></i>
          {{localRes?.AddRepair}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addcustomer" routerLinkActive="active" data-toggle="collapse-side">
          <i class="fa fa-user-plus" style="width: 20px; height:20px;"></i>
          {{localRes?.AddCustomer}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" data-toggle="collapse-side">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="20" height="20" viewBox="0 0 500 500" enable-background="new 0 0 500 500"
            xml:space="preserve">
            <g>
              <g>
                <g>
                  <path fill="#FFFFFF" d="M256,48C141.1,48,48,141.1,48,256c0,114.9,93.1,208,208,208c114.9,0,208-93.1,208-208
                   C464,141.1,370.9,48,256,48z M256,446.7c-105.1,0-190.7-85.5-190.7-190.7S150.9,65.3,256,65.3c105.1,0,190.7,85.6,190.7,190.7
                   C446.7,361.1,361.1,446.7,256,446.7z" />
                </g>
              </g>
              <g>
                <polygon fill="#FFFFFF" points="264.1,128 247.3,128 247.3,247.9 128,247.9 128,264.7 247.3,264.7 247.3,384 264.1,384 
                 264.1,264.7 384,264.7 384,247.9 264.1,247.9 		" />
              </g>
            </g>
          </svg>
          {{localRes?.AddDevice}}
        </a>
      </li>
    </ul>
  </div>
</div>