.menus{
    border-radius:12px;
    width: 150px;
    height: 45px;
    text-align: center;
    border:1px solid #fff;
    padding: 10px 10px 10px 10px;
}

    .sitebar{
        font-family: 'Open Sans Hebrew', sans-serif;
        font-size: 17px;
        position: fixed;
        z-index: 1000;
        top: 0;
        right:0px;
        width: 235px;
        margin-right: 0px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color:#C96D9F;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
@media screen and (max-width: 1370px) and (min-width: 767px){
    .togglerx{
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        overflow-y: hidden;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
}
@media screen and (max-width: 767px) , (min-width:1370px){
    .div2{
        display: none;
    }
}
.lineWhite{
    width: 100%; 
    height: 1px;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 4%, rgba(201,109,159,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 4%,rgba(201,109,159,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255, 255, 255, 0.781) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }