div,input,label{
    direction: rtl;
}
.ngb-datepicker-navigation{
    direction: ltr;
}
.mat-datepicker-content{
    z-index: 1200;
}

::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

*{
    font-family: 'Rubik', sans-serif;
}

.input-inline{
    width: 50%;
    padding-left: 3%;
}

.calendar-wrapper{
    /* max-width: 300px; */
    width: 90%;
    /* text-align: center; */
    /* direction: ltr; */
}



button{
    margin-left: 2%;
}
.line{
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 4%, rgba(201,109,159,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 4%,rgba(201,109,159,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 4%,rgba(201,109,159,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}