    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <br>
      <h6 class="text-primary"> </h6>
      <!-- First Name and LastName -->
      <div>
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <input matInput role="textbox" placeholder="{{localRes?.FirstName}}"
              formControlName="firstName" required>
            <mat-error *ngIf="reactiveForm.invalid"> {{localRes?.ValidationFirstName}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput role="textbox" placeholder="{{localRes?.LastName}}"
              formControlName="lastName" required>
            <mat-error *ngIf="reactiveForm.invalid"> {{localRes?.ValidationLastName}}</mat-error>
          </mat-form-field>
        </div>

        <!-- Phone Number And Date -->
        <div class="form-row">
          <mat-form-field class="col-md-6">
            <input matInput role="textbox" type="tel" placeholder="{{localRes?.PhoneNumber}}"
              formControlName="phoneNumber" required>
            <mat-error *ngIf="reactiveForm.invalid">{{localRes?.ValidationPhone}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
              <input (click)="picker.open()"
               (keydown)="false"
                matInput
                [matDatepickerFilter]="FilterWeekend"
                readonly
                aria-expanded="true"
                role="dialog"
                required
                [min]="calendarPickerMinDate"
                formControlName="date"
                [max]="maxDate"
                (dateChange)="dateChange($event)"
                [matDatepicker]="picker"
                placeholder="{{localRes?.selectedDate}}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi disabled="false" #picker></mat-datepicker>
              <mat-error *ngIf="reactiveForm.invalid"> {{localRes?.ValidationDate}}</mat-error>
            </mat-form-field>
        </div>
      </div>
      <!-- Time and Service -->
      <div class="form-row">
        <div class="col-md-6">
          <ng-select dir="rtl"
          [items]="Time$ | async" 
          bindLabel="timeSlot"
          #TimeSelect
          clearAllText="Clear"
          aria-required="true"
          autofocus 
          [notFoundText]="'לא נמצא זמן פנוי'"
          [searchable]="false"
          formControlName="timeSlot"
          bindValue="timeSlot"
          placeholder="{{localRes?.selectedTime}}"
          (change)="onTimeChange($event)">
          </ng-select>
        </div>
        <div class="col-md-6" *ngIf="finishStartDate">
          <ng-select 
            [items]="Services$ | async"
            dir="rtl"
            placeholder="{{localRes?.selectedService}}"
            bindLabel="ServiceName" 
            autofocus
            [searchable]="false"
            (change)="onServiceChange($event)"
            formControlName="service">
          </ng-select>
        </div>
      </div>
      <!-- Service Types -->
      <div class="form-row">
        <div class="col-md-6" *ngIf="ServiceSelected">
          <ng-select 
            #select
            [items]="ServicesTypes$" 
            [searchable]="false"
            bindLabel="ServiceTypeName" 
            placeholder="{{localRes?.selectedType}}"
            dir="rtl"
            autofocus
            (change)="onServiceTypeChange($event,select)" 
            formControlName="ServcieType">
          </ng-select>
          <mat-error *ngIf="notEnoughtime">{{localRes?.notEnoughtime}}</mat-error>
        </div>
        <div class="col-md-6" *ngIf="ServcieTypeSelected">
          <div style="padding: 5px;">
          {{ServcieTypeSelected.Description}}
          </div>
        </div>
      </div>
         <div>
          <button role="button" type="submit" [disabled]="reactiveForm.invalid" class="btn pink">{{localRes?.BookSet}}</button>
          <button role="button" type="button" class="btn btn-secondary" data-dismiss="modal">{{localRes?.Cancel}}</button>
        </div>
    </form>
