<!-- <div mat-dialog-title></div> -->
<mat-dialog-content class="mat-typography">
  <div style="display: inline-flex;">
  {{data.message}}
  <mat-icon *ngIf="data.type == MessageResult.Error" style="margin-left: 10px; color: red">close</mat-icon>
  <mat-icon *ngIf="data.type == MessageResult.Success" style="margin-left: 10px; color: #C96D9F">done</mat-icon>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>
    
  </button>
</mat-dialog-actions>
