    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <br>
      <h6 class="text-primary"> </h6>
      <!-- First Name and LastName -->
      <div>
        <div class="form-row">
          <mat-form-field class="input-inline">
            <input matInput role="textbox" placeholder="{{localRes?.FirstName}}"
              formControlName="firstName" required>
            <mat-error *ngIf="reactiveForm.invalid"> {{localRes?.ValidationFirstName}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-inline">
            <input matInput role="textbox" placeholder="{{localRes?.LastName}}"
              formControlName="lastName" required>
            <mat-error *ngIf="reactiveForm.invalid"> {{localRes?.ValidationLastName}}</mat-error>
          </mat-form-field>
        </div>

        <!-- Phone Number -->
        <div class="form-row">
          <mat-form-field class="input-inline">
            <input matInput role="textbox" type="tel" placeholder="{{localRes?.PhoneNumber}}"
              formControlName="phoneNumber" required>
            <mat-error *ngIf="reactiveForm.invalid">{{localRes?.ValidationPhone}}</mat-error>
          </mat-form-field>
          <div class="input-inline">
            <ng-select 
              [items]="Services$ | async"
              dir="rtl"
              placeholder="{{localRes?.selectedService}}"
              bindLabel="ServiceName" 
              autofocus
              [searchable]="false"
              (change)="onServiceChange($event)"
              formControlName="service">
            </ng-select>
          </div>
        </div>
      </div>
      <!-- ServiceTypes and descirption -->
      <div class="form-row">
        <div class="input-inline" *ngIf="ServiceSelected">
          <ng-select 
            #select
            [items]="ServicesTypes$" 
            [searchable]="false"
            bindLabel="ServiceTypeName" 
            placeholder="{{localRes?.selectedType}}"
            dir="rtl"
            autofocus
            (change)="onServiceTypeChange($event,select)" 
            formControlName="ServcieType">
          </ng-select>
        </div>
        <div class="input-inline" *ngIf="ServcieTypeSelected">
          <p>{{ServcieTypeSelected.Description}}</p>
        </div>
      </div>

      <!-- Calendar and Time -->
      <div class="form-row">
        <div class="col-md-12" *ngIf="noFreeTime">
          <mat-error>{{localRes?.notEnoughtime}}</mat-error>
        </div>
        <div class="col-md-6 calendar-wrapper" *ngIf="ServcieTypeSelected">
          <mat-calendar
          #calendar
          (selectedChange)="dateChange($event)"
          [selected]="finishStartDate"
          (monthSelected)="monthChange($event)"
          [minDate]="calendarPickerMinDate"
          [maxDate]="maxDate"
          [dateFilter]="FilterWeekend">

      </mat-calendar>
    </div>
        <div class="col-md-6" *ngIf="ServcieTypeSelected && finishStartDate && !noFreeTime">
          <mat-chip-list class="mat-chip-list-stacked" aria-label="Time slot selection">
            <mat-spinner style="margin: auto;" *ngIf="!(Time$ | async)"></mat-spinner>
            <mat-chip style="width: 30%;" (mwlClick)="onTimeChange(time)" [ngClass]="{'btn pink':time.id === StartAt}" [selectable]="true" *ngFor="let time of Time$ |async ">
              {{time.timeSlot}}
            </mat-chip>
          </mat-chip-list>
        </div>

      </div>
         <div style="padding-top: 2%;">
          <button role="button" type="submit" [disabled]="reactiveForm.invalid" class="btn pink">{{localRes?.BookSet}}</button>
          <button role="button" type="button" class="btn btn-secondary" style="border-radius: 30px;" data-dismiss="modal">{{localRes?.Cancel}}</button>
        </div>
    </form>
