<div mat-dialog-title>
    <h4 class="float-right inline" style="color: rgba(201,109,159,1);">פרטי התור</h4>
    <button class="float-left" mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
    <div class="line" style="display: flex;"></div>
</div>

<mat-dialog-content class="mat-typography">
    <app-change-book [localRes]="data.localRes" [bookDetails]="data.book"></app-change-book>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-button (click)="deleteEvent($event)"  cdkFocusInitial class="btn pink" > מחק </button> -->
</mat-dialog-actions>